body {
    --color :white;;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a{
    color:white;
    text-decoration: none;
    font-size: 16px;
}


header img
{
height: 150px;
border-radius: 50%;
border: 5px solid rgb(17, 82, 17);
}
.center{
    text-align: center;
}
h1{
    color: rgb(8, 60, 8);
}
h2{
    color: white;
}
h3{
    color: white;
}
p{
    color: white;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
}
li{
    color: rgb(11, 84, 25);
    margin: 0 10px;
}
footer img
{
width: 20px;
height: 20px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.container{
    padding: 0px 50px;
}
nav a:hover {
    color: rgb(8, 63, 8);
}